<script>
  import VideoItem from '../components/video-item.svelte';

  export let data = {};
</script>

<h1>Arrrrgh 🏴‍☠️</h1>

<div class="videos">
  {#each data.videos as video}
    <VideoItem data={video} />
  {/each}
</div>

<style>
  .videos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 300px;
    grid-gap: 20px;
  }
</style>
