<script>
  import { onMount } from 'svelte';

  export let data = {};

  let videoEl;
  let duration = data.meta?.duration ?? 0;

  const hours = Math.floor(duration / 3600);
  const minutes = Math.floor(duration / 60);
  const seconds = Math.round(duration % 60);

  const durationString = `${hours}:${minutes}:${seconds}`;

  onMount(() => {
    videoEl.addEventListener('loadedmetadata', (event) => {

      console.log(event)

      duration = duration || videoEl.duration;
    });

  });
</script>

<a class="video-item" href="/video/{data.id}">
  <video class="video-item__video" bind:this={videoEl}>
    <source src="{data.url}" type="video/{data.ext}">
  </video>
  <h3 class="video-item__title">
    {data.meta?.title ?? data.filename}
  </h3>

  {durationString}
</a>

<style>
  .video-item {
    position: relative;
    display: block;
    border-radius: 10px;
    overflow: hidden;
  }

  .video-item:hover {
    box-shadow: 0 0 0 3px deepskyblue;
  }

  .video-item__video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
  }

  .video-item__title {
    position: absolute;
    left: 0;
    bottom: 0;
    background-color: #fff;
    margin: 0;
    padding: 10px;
  }

</style>
