<script>
  // import videojs from 'video.js';
  // import 'video.js/dist/video-js.min.css';
  import { onMount } from 'svelte';

  export let data = {};
  let { video } = data;
  let videoTitle = video.meta?.title ?? video.filename;

  let videoEl;

  onMount(() => {
    console.log(videoEl);
    // videojs(videoEl)
  });
</script>


<h1 class="page-title">
  <a href="/">
    <button>← Back</button>
  </a>
  <span>
    {videoTitle}
  </span>
</h1>

<video class="video" controls autoplay preload="auto" bind:this={videoEl}>
    <source src="{video.url}" type="video/{video.ext}" />
</video>

<style>
  .video {
    width: 100%;
  }

  .page-title {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .page-title a {
    display: block;
  }

  .page-title span {
    display: block;
  }
</style>
